.counter-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.counter {
  text-align: center;
}

.counter h3 {
  padding: 0.5rem 0;
  font-weight: 800;
}

.counter h6 {
  padding-bottom: 1rem;
}

.customCount {
  color: var(--primary-color);
  float: left;
}
