.prev {
  background-color: rgb(251, 229, 200);
  border-color: #ef3e00;
  border-width: 0.5px;
  margin: 3px;
  height: calc(calc(1vh + 0.4vw) * 3);
  width: calc(calc(1vh + 0.4vw) * 5.5);
  font-size: 1.1em;
  color: rgb(158, 9, 9);
  border-radius: 7px;
  text-justify: center;
  text-align: center;
}
.button-des {
  background-color: rgb(251, 229, 200);
  border-color: #ef3e00;
  border-width: 0.5px;
  margin: 3px;
  border-radius: 50%;
  font-size: 1.1em;
  height: calc(calc(1vh + 0.4vw) * 3);
  width: calc(calc(1vh + 0.4vw) * 3);
  color: rgb(158, 9, 9);
  text-justify: center;
  text-align: center;
  transition: background-color 0.3 ease;
}
.active {
  color: white;
  background-color: #ef3e00;
  transform: scale(1.15);
}

.entries {
  font-size: 1.1em;
  height: calc(calc(1vh + 0.4vw) * 3);
}

@media (hover: hover) {
  .button-des:hover {
    background-color: #ef3e00;
    color: aliceblue;
    transform: scale(1.1);
  }
  .prev:hover {
    background-color: #ef3e00;
    color: aliceblue;
    transform: scale(1.1);
  }
}
