.prev,
.button-des {
  background-color: rgb(251, 229, 200);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  border: 0.5px solid #e95d2a;
  margin: 3px;
  height: calc(calc(1vh + 0.4vw) * 3);
  font-size: 2em;
  color: rgb(158, 9, 9);
  text-justify: center;
  text-align: center;

  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
}
.prev {
  border-radius: 7px;
  width: calc(calc(1vh + 0.4vw) * 5.5);
}
.button-des {
  border-radius: 50%;
  width: calc(calc(1vh + 0.4vw) * 3);
}

.active {
  color: white;
  background: linear-gradient(to bottom, #ef3e00, #ff7e00);
  transform: scale(1.15);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

@media (hover: hover) {
  .button-des:hover,
  .prev:hover {
    background: linear-gradient(to bottom, #ff7e00, #ef3e00);
    color: aliceblue;
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
}

.disabled {
  opacity: 0.7;
  cursor: not-allowed;
  pointer-events: none;
}

.entries {
  font-size: 2em;
  height: calc(calc(1vh + 0.4vw) * 3);
}

.tableStyle {
  border-radius: 10px;
  overflow: hidden;
  border-collapse: collapse;
  width: 100%;
}

.tableStyle th {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid;
  background: #ef3e00;
  color: #fff;
  text-align: center;
  padding: 11px 8px;
  font-size: 1.9em;
}

.tableStyle tbody td {
  border: 0.5px solid #ef3e00;
  vertical-align: top;
  padding: 10px 10px;
  font-size: 1.8em;
}
.tableStyle .evenRow {
  background: rgba(199, 145, 78, 0.25);
}

.tableStyle .category {
  background: rgba(199, 145, 78, 0.1);
}

.tableStyle tr:hover .rowHover {
  transition: background-color 0.3s ease, transform 0.3s ease;
}
@media (hover: hover) {
  .tableStyle tr:hover .rowHover {
    background: #ffa07a;
  }
}
